dl dt {
  display: inline-block;
  font-weight: bold;
}
dl dd {
  display: block;
}

.mediaset-metadata,
.mediaset-upload,
.mediaset-creategroup,
.mediaset-animation,
.mediagroup-metadata,
.mediagroup-upload {
  float: left;
  width: 300px;
  margin: 10px;
}

.mediaset-media,
.mediagroup-media {
  clear: both;
}

.mediaset-list
{
    background-color: #CFCFCF;
    border: thin solid #000000;
    height: 390px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.mediaset, .mediagroup, .media
{
    padding: 10px;
    border: thin solid #000000;
    float: left;
    margin: 10px 0px 0px 10px;
    width: 438px;
}

.media { width: 220px; }